.center{
    text-align: center;
}

.image{
    width: auto;
    height: 40em;
}

.yellow{
    color: #FFFF00;
}

.details-image{
    width: 350px;
    height: 576px;
}

.content-box {
    padding: 1%;
}

.right{
    float: right;
}

.header{
    margin: 2% 0.5%;
}

.footer{
    text-align: center;
    font-size: small;
    margin: 0.5%;
}
